body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    height: 100vh; /* Adjust this to the desired height of your background */
    background-image: url('bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  